.header {
    &__arrow {
        cursor: pointer;
    }
    
    &__arrow {
        bottom: 0;
        left: calc(50% - 11px);
        position: absolute;
        transform: translateX(calc(-50% - 11px));
        bottom: 30px;
        z-index: 100;
        animation-iteration-count: infinite;
        animation-duration: 2s !important;
    }
}

i {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 10px;
}
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}